---
title: "Jonathan Harpin Manurung"
subtitle: "Spatial Data Analytics"
image: assets/img/7X2A3905.JPG 
about:
  template: trestles
  image-width: 18em
  image-shape: round
  links:
    - icon: linkedin
      text: LinkedIn
      href: https://linkedin.com/in/jonathan-harpin-manurung/
    - icon: github
      text: Github
      href: https://     /
    - icon: envelope
      text: Contact me
      href: mailto:mailto:jonathanhsmanurung@gmail.com
---

<main class="projects-main">

 <section class="about-container">
    <h1>About Me</h1>
    <p>
      I am a geospatial data scientist based in New York City. As a Master of Urban Spatial Analytics graduate from the University of Pennsylvania, where I focused on geospatial data science and urban planning, I applied analytical techniques to uncover spatial patterns and solve diverse real-world urban issues. I leverage tools and technology to forecast future outcomes and communicate insights to diverse audiences, including policymakers, to support data-driven decisions. With experience in geospatial analysis and predictive modeling, I focus on applying data and technology to solve real-world problems, particularly in transportation, environment, and urban development. <br> <br>
      Previously, I worked as an Operations Manager in one of the State-Owned Enterprise in Indonesia. I have extensive experience managing multi-stakeholder projects, including a national project to accelerate the implementation of Geospatial Information in Indonesia through a Public-Private Partnership Project (PPP) with the Geospatial Agency of Indonesia. <br> I managed and accelarated the execution of the project and oversaw the full project lifecycle. During my time at the University of Pennsylvania, I worked on some academic projects, including developing a flood inundation probability model to predict the inundation risk in the City of Denver, fire risk prediction project in Los Angeles, urban development forecast in Atlanta, and created data framework to correct underperforming transit lines in Charlotte. <br> <br>
      I’m interested in leveraging data to foster more inclusive, efficient, and equitable urban systems for the communities.
    </p>
  </section>

 {% if site.data.settings.resume %}
  <section class="resume-button-container" style="text-align:center; margin: 20px 0;">
    <a class="button" href="{{ site.data.settings.resume }}" target="_blank">
      {{ site.data.settings.resume_link_title }}
    </a>
  </section>
  {% endif %}
 
  {% include projects.html %}

</main>
